.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 2.3rem;
  width: 2.3rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.5rem .8rem;
  color: rgb(var(--color-foreground));
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

@media (max-width: 991px){
  .list-social__link {
    color: #fefdfb; 
  }
}
